{% extends 'mlgym1/base.html'%}
{% block content %}
<h2>Upload CSV File for training neural network</h2>
<form action="{% url 'csv_upload_nn4' %}" method="POST" enctype="multipart/form-data">
	{%csrf_token%}
	<label for="file1">X - Features</label>
	<input type = "file" id="file1" name = 'file1' required="True"/>
	<br>
	<label for="file2">Y - Results</label>
	<input type = "file" id="file2" name = 'file2' required="True"/>
	<br>
	<input type="submit" value="Upload"/>
</form>
<h2><small>Training might take a while</small></h2>
{% endblock %}